body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.container{
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Bounce effect on images */
.bounce {
    margin-top: 50px;
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 3s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-55px);
    }
  }

/* ------------- Section Colours ----------------- */
#hero {
    background: linear-gradient(61.53deg, #180E4A 14.55%, #E1318F 87.18%);
}

#features {
  background: #eeeeee;
  background-image:url("/assets/images/featuresballleft.png"), url("/assets/images/featuresball.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% -50%, 100% 100%;
}

#learn_more {
    background: #F4EDE4;
    background-image: url("/assets/images/learnmorestar.svg");
    background-repeat: no-repeat;
    background-position: 40% center;
}

#learn_more_2 {
    background: #E5E5E5;
    background-image: url("/assets/images/learnmore2ball.png"), url("/assets/images/learnmore2svgtopleft.png");
    background-position: 43% 20%, right top;
    background-repeat: no-repeat, no-repeat;
}

#Subscribe {
    background: #a29f9f;
    background-image: url("/assets/images/subscribe1.svg"), url("/assets/images/subscribe2.svg");
    background-position: left top, 80% center;
    background-repeat: no-repeat, no-repeat;
}
#footer {
  background: #8b1a8f;
}

#footnote {
  background: #1B1056;
}

/* ------------- Hero section ------------- */
.hero_signup_button{
    padding: 10px 30px;
    background: #E1318F;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}


.hero_signup_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.hero_signup_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.hero_signup_button:hover span {
  padding-right: 25px;
}

.hero_signup_button:hover span:after {
  opacity: 1;
  right: 0;
}


/* ------------- Section Nav ----------------- */
.nav_signup{
    border: none;
    border-radius: 4px;
    background:#6E446F;
    padding: 10px 30px;
}

.nav_signup:hover{
    background: #4c2b4d;
    color: #fff;
}

@media screen and (max-width: 468px) {
  .nav_login{
    display: none;
    padding: 10px 20px;
  }
}


/* ------------- Features Section ----------------- */
.features_button{
    padding: 10px 20px;
    border-radius: 28px;
    border: 1px solid #1856ED;
}


.features_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.features_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.features_button:hover span {
  padding-right: 25px;
}

.features_button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------- Learn More Section ----------------- */
.learn_more_top_space {
    margin-top: 12%;
}

/* ------------- Learn More 2 Section ----------------- */
.learn_more_2_top_space {
    margin-top: 7%;
}


/* ------------- Subscribe Section ----------------- */

.subscribe_email {
    border-radius: 4px;
    border: none;
    background-color: #D9D9D9;
    min-width: 30%;
    padding: 10px 20px;
}

.subscribe_email:focus {
    outline: none;
}

.subscribe_button{
    padding: 11px 43px;
    background: #6E446F;
    border-radius: 4px;
    border: none;
}


.subscribe_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.subscribe_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.subscribe_button:hover span {
  padding-right: 25px;
}

.subscribe_button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------- Footer Section ----------------- */
li {
    list-style: none;
}

ul {
    padding: 0;
}

.footer_letter_spacing {
    letter-spacing: 1px;
}